# # NBA-API Exploration: LeBron James

In [1]:
from nba_api.stats.endpoints import playergamelog, shotchartdetail
import pandas as pd
import time

In [2]:
# Constants
LEBRON_PLAYER_ID = 2544
LEBRON_NAME = "LeBron James"
SEASON_STRING = "2023-24"  # NBA-API expects "YYYY-YY" format

In [3]:
# Step 1: Fetch LeBron's career game log
print("Fetching LeBron's 2023-24 game log...")
try:
    game_log = playergamelog.PlayerGameLog(
        player_id=LEBRON_PLAYER_ID,
        season_type_all_star='Regular Season',
        season=SEASON_STRING
    )
    games_df = game_log.get_data_frames()[0]
    print(f"Retrieved {len(games_df)} games")
    display(games_df.head())
except Exception as e:
    print(f"Error fetching game log: {e}")

Fetching LeBron's 2023-24 game log...
Retrieved 71 games

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,2544,0022301195,"Apr 14, 2024",LAL @ NOP,W,38,11,20,0.550,...,9,11,17,5,1,4,0,28,19,1
1,22023,2544,0022301177,"Apr 12, 2024",LAL @ MEM,W,41,13,20,0.650,...,7,9,5,2,0,8,1,37,-3,1
2,22023,2544,0022301155,"Apr 09, 2024",LAL vs. GSW,L,36,14,22,0.636,...,6,7,11,2,0,4,0,33,-6,1
3,22023,2544,0022301127,"Apr 06, 2024",LAL vs. CLE,W,36,10,18,0.556,...,5,5,12,1,1,5,1,24,10,1
4,22023,2544,0022301103,"Apr 03, 2024",LAL @ WAS,W,36,9,18,0.500,...,5,7,9,3,0,4,2,25,9,1

In [4]:
# Step 2: Fetch LeBron's shot chart
print("Fetching LeBron's 2023-24 shot chart...")
try:
    time.sleep(1)  # avoid rate limiting
    shot_chart = shotchartdetail.ShotChartDetail(
        team_id=0,                     # 0 = all teams
        player_id=LEBRON_PLAYER_ID,
        context_measure_simple='FGA',  # Field Goals Attempted
        season_type_all_star='Regular Season',
        season_nullable=SEASON_STRING  # Correct argument
    )
    shots_df = shot_chart.get_data_frames()[0]
    print(f"Retrieved {len(shots_df)} shots")
    display(shots_df.head())
except Exception as e:
    print(f"Error fetching shot chart: {e}")

Fetching LeBron's 2023-24 shot chart...
Retrieved 1269 shots

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0022300015,7,2544,LeBron James,1610612747,Los Angeles Lakers,1,11,40,...,Center(C),16-24 ft.,17,-47,172,1,0,20231110,PHX,LAL
1,Shot Chart Detail,0022300015,11,2544,LeBron James,1610612747,Los Angeles Lakers,1,11,12,...,Center(C),Less Than 8 ft.,0,2,5,1,1,20231110,PHX,LAL
2,Shot Chart Detail,0022300015,20,2544,LeBron James,1610612747,Los Angeles Lakers,1,10,1,...,Left Side(L),8-16 ft.,12,-119,32,1,0,20231110,PHX,LAL
3,Shot Chart Detail,0022300015,36,2544,LeBron James,1610612747,Los Angeles Lakers,1,9,0,...,Center(C),Less Than 8 ft.,0,1,8,1,1,20231110,PHX,LAL
4,Shot Chart Detail,0022300015,72,2544,LeBron James,1610612747,Los Angeles Lakers,1,5,18,...,Left Side(L),8-16 ft.,12,-82,89,1,0,20231110,PHX,LAL

In [5]:
# Step 3: Quick overview of columns
print("Game log columns:")
display(games_df.columns.to_list())

Game log columns:

['SEASON_ID',
 'Player_ID',
 'Game_ID',
 'GAME_DATE',
 'MATCHUP',
 'WL',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'PLUS_MINUS',
 'VIDEO_AVAILABLE']

In [6]:
print("Shot chart columns:")
display(shots_df.columns.to_list())

Shot chart columns:

['GRID_TYPE',
 'GAME_ID',
 'GAME_EVENT_ID',
 'PLAYER_ID',
 'PLAYER_NAME',
 'TEAM_ID',
 'TEAM_NAME',
 'PERIOD',
 'MINUTES_REMAINING',
 'SECONDS_REMAINING',
 'EVENT_TYPE',
 'ACTION_TYPE',
 'SHOT_TYPE',
 'SHOT_ZONE_BASIC',
 'SHOT_ZONE_AREA',
 'SHOT_ZONE_RANGE',
 'SHOT_DISTANCE',
 'LOC_X',
 'LOC_Y',
 'SHOT_ATTEMPTED_FLAG',
 'SHOT_MADE_FLAG',
 'GAME_DATE',
 'HTM',
 'VTM']